@import './libs.css';

:root {
  --base-font-size: 16px;
  --base-font-weight-noraml: 400;
  --base-font-weight-title: 500;
  --base-font-family: 'Inter';
}

html,
body,
.app,
#root {
  height: 100%;
}

body {
  font-family: var(--base-font-family), sans-serif;
  font-size: var(--base-font-size);
  font-weight: var(--base-font-weight-noraml);
}

.layout-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content-wrapper {
  flex: 1 0 auto;
}

.footer-wrapper {
  flex: 0 0 auto;
}

.page-wrapper {
  padding: 0 25px;
  margin-top: 37px;
  margin-bottom: 37px;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0;
}
